#tourControls {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.new {
    padding: 5px 10px;
    background: #fff;
    color: #333;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 10px;
}